/* src/app/authentication/login/login.component.css */

.Signup-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
  }
  
  mat-card {
    width: 400px;
    padding: 20px;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
  